@import "../../styles/variables";
@import "../../styles/mixins";

.primaryBtn {
  // margin-top: 20px;
  border: 0;
  padding: 8px 30px;
  @extend .gradient-bg;
  color: #fff;
  letter-spacing: 1px;
  @include transition();
  &:hover {
    background: $text-color;
  }

  &Link {
    border: 1px solid #ffffff;
    padding: 7px 28px;
    color: #ffffff;
    letter-spacing: 1px;
    font-weight: 500;
    &:hover {
      color: $primary-color;
      border: 1px solid $primary-color;
    }
    &:link {
      text-decoration: none;
    }
  }
}
