@import "../../styles/variables";

.formControl {
  font-size: 13px;
  line-height: 26px;
  color: #999;
  border: 1px solid #eeeeee;
  font-family: $primary-font;
  border-radius: 0px;
  padding-left: 20px;
  margin-bottom: 10px;
}
