.bannerContent {
  padding: 200px 0 0 0;
  color: #fff;
  text-align: center;
  h2 {
    margin-top: 0px;
    font-size: 120px;
    color: #fff;
  }
  p {
    margin: 0px;
    font-weight: 400;
    text-transform: uppercase;
  }
}
